.ais-Hits-item {
    border: none;
    box-shadow: none;
}

.ais-RefinementList-checkbox {
    margin-right: 5pt;
}

.incident-pin {
    width: 12px;
    height: 12px;
    opacity: 50%;
}

.incident-pin:hover {
    width: 24px;
    height: 24px;
    opacity: 100%;
}